body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: gold;
    color: white;
    padding: 15px;
    text-align: center;

}
nav {
    background-color: silver;
    padding: 10px;
    text-align: center;
    
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 50px;
    font-weight: bold;

}

main {
    display: flex;
    min-height: 80vh;
}

aside {
    width: 200px;
    background: burlywood;
    color: white;
    padding: 15px;
}

aside ul {
    list-style: none;
    padding: 0;

}

aside ul li {
    margin-bottom: 15px;

}

aside ul li a {
    text-decoration: none;
    color: white;

}

section {
    flex: 1;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}